html,body,span,h1,h2,h3,a,img,dl,dt,dd,ol,ul,li{border:none;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
body{font-family:Microsoft YaHei,Arial, Helvetica, sans-serif;font-size:14px ; background-color:#FFF;}
ol,ul{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none}
.nav{width:995px;margin:0 auto;height:60px;}
.logo{width: 140px;height: 60px;background:#fff;display: flex;align-items: center;float:left;}
.logo img{width: 131px;height: auto;align-items: center;}
.site-nav {float:left;font-size:12px; font-family:Microsoft YaHei,Arial, Helvetica, sans-serif;  }
.site-nav ul li{    float: left;
    line-height: 60px;
    margin-left: 50px;
    font-size: 14px;}
.site-nav ul li a{padding-left:36px;color:#333;}
.site-nav .l1{ font-size:16px; font-weight:bold;padding:0 35px;}
.site-nav u{font-weight:bold;text-decoration:none;font-size:14px;}
.site-nav i{font-weight:bold; color:#08C911;font-size:14px;font-style:normal}
.main{background:#eee;width:100%;padding:5px 0 30px 0; }
.index_right{
	position: fixed;
	z-index:987654321;
    top: 150px;
    right: 135px;
    background: #fff;
    line-height: 32px;
    width: 120px;
    text-align: center;
}
.index_right img{width:100px; text-align:center;padding:10px 0 0 0}
.index_right .a1,.index_right .a2{border-bottom:1px solid #ccc;padding-left:20px;}
.index_right .a3{border-top:1px solid #ccc;}
.index_right .a1{background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/qq.png) no-repeat 10px 7px;}
.index_right .a2{background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/wx.png) no-repeat 8px 7px;}
.box {width:230px;height:270px; float:left; position: relative; text-align:center;background: #fff;margin:10px 0px 0px 16px;border-radius:6px;}
.sbox:nth-child(29){ display:none; }
.sbox:nth-child(30){ display:none; }
.sbox:nth-child(27){ display:none; }
.sbox:nth-child(28){ display:none; }




.jiangjin{ width:90%; margin:0 auto; border-radius:10px; background:#FAFAFA; height:28px;line-height:28px; border-top:1px solid #ECECEC;}
.right{margin-right:0;}
.box ul{overflow:hidden; margin-top:10px;}
.box1{width:126px; color:#666; text-align:left; font-size:20px; line-height:29px;margin-top:10px;margin-left:23%;padding-left:11%;background: url(https://raw.githubusercontent.com/baiyunav/xxl/master/c5b85962116a5eb8e2d0001da0f8c062.gif) no-repeat 8px 6px;border-radius: 0 70px 70px 0; border-left:0;}
.box li{width:85px; padding-left:15px;line-height:30px;font-size:14px;}
.box .box_l{margin-left:12px; float:left; background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/zhuce.png)  no-repeat 1px; }
.box .box_r{margin-right:12px;float:right; background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/denglv.png)  no-repeat 1px;}
.box .gj{ background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/guaji.png)  no-repeat 9px; }
.box a,.index_right a{color:#333;}
.box .box_l img,.box .box_r img{margin:0 6px 1px 0;}
.box .pic{ width:180px; height:60px; }

.blackfuck{ width:90%; margin:0 auto;}

.r1{color:#FF0000!important;}
.box ul img{vertical-align:middle;padding-bottom:2px;}
.box .pic{margin:10px 0;}
.box .bottom{margin-top:10px; border-top:1px solid #eee;padding-top:10px;}
.box .bottom a{margin:0 0px;color:#333;font-size:13px; }
.wx{ background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/wx.png) no-repeat 0px 3px;padding:5px 15px 5px 25px;}
.qq{ background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/qq.png) no-repeat 0px 3px;padding:5px 15px 5px 20px;}
.iso{ background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/ios.png) no-repeat 0px 3px;padding:5px 15px 5px 20px;}
.android{ background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/android.png) no-repeat 0px 3px;padding:5px 5px 5px 20px;}
.foot{background: #ccc;line-height: 22x;text-align: center;font-size:15px;}
.foot p img{padding:15px 0;}
.w{padding-bottom:10px;}
.foot .w p{color:#333;margin:0 auto; line-height:24px;}

.foot .w p,.foot .w p a{color:#333; font-size:12px;}
.wxa1{ display:inline; }
.wxa2{ display:none; }
.box .bottom a.noAPP{ color:#AAA;}

.container{margin:0px auto;}
.container:before,.container:after{content:" ";display:table}
.container:after{clear:both}
.ewm{ text-align:center;margin-top:15px; display:none;}
#ad{
	background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/ad.png)  no-repeat;
	background-size:100%;
	border:2px solid #FFF;
	width:226px;
	height:266px;
}
.current{ box-shadow:0 0 18px rgba(200, 0,0,0.8); }
.jihua_1{
	width: 100%;
    height: 70px;
    background-image: url(https://raw.githubusercontent.com/baiyunav/xxl/master/jihua_4.jpg);
    background-size: 100% 100%;
}

#erhaozhan .lm,#bomao .lm,#youying .lm,#xingkong .lm{
	background: url(https://raw.githubusercontent.com/baiyunav/xxl/master/fhlm.png) no-repeat;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 115px;
    height: 80px;
    background-size: 110px;
}

@media (min-width: 1200px){.container{width:995px;position:relative;}}
@media (max-width: 768px){
.top {width:100%;margin:0 auto; line-height:38px;}
.site-nav,.index_right img,.index_right .a3{display:none!important;}
.index_right{top:3px;right:0; line-height:28px;}
.index_right .a1,.index_right .a2,.index_right .a3{border-bottom:0}
.wrap,.main {width:100%;padding:0}
.w_right {left: 0;  right: 0;margin: auto;}
.logo{ width:100%; }
.box .bottom a{font-size:14px;}
.box ul {padding: 0 30px;}
.index_right .a1{background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/qq.png) no-repeat 10px 5px;}
.index_right .a2{background:url(https://raw.githubusercontent.com/baiyunav/xxl/master/wx.png) no-repeat 8px 5px;}
.nav{width:98%;margin:0 auto ;height:auto; overflow:hidden;}
.box {margin:10px auto; float:none;width:80%;padding-top: 1px;}
.w {width:100%;margin:0 auto;}
.w img{width:90%;}

.wxa1{ display:none; }
.wxa2{ display:inline; }
.index_right{width:150px;}
}
www.592dj.com